
*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #0c1821;
    color: white; 
}
.TituloDestaque {
    color: #21897e;
}
.conteudo{
    display: flex;
    align-items: center;
}